html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: RobotoCondensed-Regular;
    font-size: 16px;
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}

header {
    width: 100%;
    height: 7%;
}

.header_left {
    margin-left: 5%;
    width: 40%;
    height: 100%;
    display: inline-block;
}

.logo img {
    width: 60%;
    margin-top: 10px;
}

.logo {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 100%;
}

.page_name {
    display: inline-block;
    position: relative;
    width: 90%;
    font-size: 2em;
    font-family: RobotoCondensed-Bold;
    float: right;
    margin-top: 2%;
}

.header_right {
    display: inline-block;
    width: 55%;
}

#clock, #cur_date {
    display: inline-block;
    float: right;
    font-size: 2em;
    font-family: RobotoCondensed-Bold;
}

#cur_date {
    margin-right: 100px;
}

#clock {
    margin-right: 20px;
}

th{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}

table{
    position: absolute;
    height: 93%;
    top: 7%;
    border-collapse: collapse;
    border: 2px solid black;
}

.prazdnej{
    background-color: #e6e6e6;
}

.trida_main {
    font-size: 1.5em;
}

.trida{
    text-align: center;
    width: 100px;
    font-size: 1.7em;
    background-color: #ccffcc;
    font-family: RobotoCondensed-Bold;
}

.ucebna{
    display: inline-block;
    float: right;
    color: #66a3ff;
    font-size: .9em;
}

.hodina {
    height: 50px;
    font-size: 1.3em;
    background-color: #ccffcc;
}

.cell .predmet{
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

.predmet {
    font-size: 1.5em;
    top: 40%;
    font-family: RobotoCondensed-Bold;
}

.incell0 .predmet{
    position: absolute;
    text-align: center;
    bottom: 43%;
}

.incell1 .predmet{
    position: absolute;
    text-align: center;
    bottom: 43%;
    
}

.cell .ucitel {
    position: absolute;
    text-align: center;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.incell0 .ucitel {
    position: absolute;
    text-align: center;
    font-size: .9em;
    bottom: 0;
}

.incell1 .ucitel {
    position: absolute;
    text-align: center;
    font-size: 0.9em;
    bottom: 0;
}

.skupina{
    display: inline-block;
    font-size: .8em;
}

.cell{
    position: relative;
    height: 100%;
    width: 100%;
}

.incell0{
    position: absolute;
    left: 0;
    width: 48%;
    height: 100%;
}

.incell1{
    position: absolute;
    border-style: solid;
    border-left: 1px solid black;
    right: 0;
    width: 48%;
    height: 100%;
}
